*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background-color: #6e21b7;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 400px;
  height: auto;
  padding: 0;
}
.ToDoList {
  width: 100%;
  height: 60%;
  margin-bottom: 10px;
  overflow-y: hidden;
  box-shadow: 0 8px 20px rgba(20, 30, 60, 0.6), 0 0 15px rgba(20, 30, 60, 0.4),
    0 0 30px rgba(20, 30, 60, 0.3);
}
.ToDoList .ulList {
  color: #c8c8c8;
  font-size: 14px;
}
.ToDoList .ulList .liList {
  padding: 16px 8px;
  background-color: #aa6be6;
  border-bottom: 1px solid #2f1547;
  transition: all 0.18s ease-in-out;
}
.ToDoList .ulList .liList .listTitle {
  color: inherit;
  font-size: 18px;
}
.ToDoList .ulList .liList .icon {
  float: right;
  margin-right: 8px;
  cursor: pointer;
}
.ToDoList .ulList .liList:hover {
  background-color: #743ba9;
}
.addItem {
  margin-top: 40px;
}
.addItem label {
  color: #c8c8c8;
  text-align: center;
  display: block;
  font-size: 28px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
#newItem {
  width: 100%;
  height: 44px;
  margin-top: 15px;
  background-color: #1a072d;
  outline: none;
  border: none;
  border-radius: 6px;
  color: #c8c8c8;
  padding-left: 8px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
#newItem:focus {
  box-shadow: 0 0 10px #743ba9, 0 0 25px #aa6be6, 0 0 40px #743ba9; 
}
